@{
    ViewData["Title"] = "NotFoundMovie";
}
<div class="row">
    <div class="col-md-6 offset-2">
        <h1 class="text-info">No Movie Has This Name Or Description</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>
</div>